.table-container
{
    padding-left: 5vw;
    padding-right: 5vw;
}

/*.img
{
    width: 635px;
    height: 344px;
    display: inline-block;
}

tr
{
    transition: all .2s;
}

tr:hover
{
    background-color: rgba(202, 202, 202, 0.6);
}

ul
{
    text-align: left;
    width: 50%;
    margin-left: 35vw;
}*/

/* .banner {
    display: inline-block;
    width: auto;
    max-height: calc(100vh - 60px);
    margin-left: calc((100vw - 2400px) / 4);
} */